<div id='new_question'>
  <a href="#" onclick="$('#new_question').children().toggle();">Adicionar Questão</a>
  
  <div id="form_question" style="display: none;">
    <%= form_for Question.new, :remote => true do |f| %>
        <%= hidden_field :question, :exercise_id, :value => @exercise.id %>
        <div class="field">
          <%= f.label 'Título' %>
          <%= f.text_field 'title' %>
        </div>
             
        <div class="field">
          <%= f.label 'Enunciado' %>
          <%= f.text_area 'content' %>
        </div>
        
        <div class="field">
          <%= f.label 'Resposta Correta' %>
          <%= f.text_field 'correct_answer' %>
        </div>
        
        <div class="form-actions">
          <%= f.submit "Enviar", :class => 'btn btn-primary' %>
          
        <a href="#" onclick="$('#new_question').children().toggle();">Cancelar</a>
            
        </div>
        
	<% end %>
  </div>
</div>

<%content_for :js do%>
$('#form_question').bind('ajax:complete', function(xhr, result){
$('#questions').html(result.responseText);
$('#form_question textarea').val("")
$('#form_question textfield').val("")
$('#form_question').hide();
$('#new_question > a').show();
});
<%end%>

