<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @introduction.title %>
</p>

<p>
  <b>Content:</b>
  <%= @introduction.content %>
</p>


<%= link_to 'Edit', edit_introduction_path(@introduction) %> |
<%= link_to 'Back', introductions_path %>
