<!DOCTYPE html>
<html>
<head>
  <title>Thales - Objeto de Aprendizagem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://thalesserver.herokuapp.com/faye.js" %>
    
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      	<a class="brand" href="#"><%= image_tag("logo_blue.png", :size => "90x26", :alt => "Thales") %></a>
      	<div class="nav-collapse">
      		
  
      		<ul class='nav pull-right'>
      			<!--<li><%= link_to "Introdução" %></li> -->
      			<!--<li><%= link_to "Exercícios"%></li> -->     			
      			<li><a href="#"><i class="icon-home bigger"></i> Home</a></li>
      			<li><a href="#"><i class="icon-info-sign bigger"></i> Ajuda</a></li>  			
				
      			<% if user_signed_in? %>
      			<li class="divider-vertical"></li>
      			
      			<li class="dropdown">
            		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
            			<i class="icon-user bigger"></i> <%= current_user.name %>
            			<b class="caret"></b>
            		</a>
              		<ul class="dropdown-menu"> 
			 			<li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
			 			<li><%= link_to "Editar dados", edit_user_registration_path %></li>
                	</ul>
      			</li>
					
					
				<% else %>
				
				<li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
            		Acessar <i class="icon-signin bigger"></i>
            		<i class=" icon-caret-down"></i>
            	</a>
              	<ul class="dropdown-menu">
               		<li><%= link_to "Registrar-se", new_user_registration_path  %> </li> 
			 		<li><%= link_to "Entrar", new_user_session_path%></li>
                	
              	</ul>
            </li>
				
			 		
				<% end %>
			</ul>
        </div>
      </div>
    </div>
  </div>	
	
	</div>
	<div class="container-fluid" id="container">
		
			
			
			  <%= yield %>
			
		
	</div>
<script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full">
  </script>
  <script type="text/x-mathjax-config">
	//<![CDATA[
	    MathJax.Hub.Config({
	      asciimath2jax: {
		delimiters: [['`','`'], ['$','$']]
	      }
	    });
	 //]]>
  </script>	
</body>
</html>
