<!DOCTYPE html>
<html>
<head>
  <title>Thales</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      </a>	
      	<a class="brand" href="#">Thales</a>
      	<div class="nav-collapse">
      		<ul class='nav pull-right'>
      			      			
      			<li class="dropdown">
    				<a class="dropdown-toggle"
       					data-toggle="dropdown"
       					href="#">
        				Introdução
        				<b class="caret"></b>
      				</a>
    					<ul class="dropdown-menu">
      						<li><%= link_to "Segmentos Proporcionais" %></li>
      						<li><%= link_to "Feixes de Retas Paralelas" %></li>
      						<li><%= link_to "Teorema de Thales" %></li>
      						<li><%= link_to "Um Pouco Mais de História" %></li>
      						<li><%= link_to "Exemplo 1" %></li>
      						<li><%= link_to "Exemplo 2" %></li>
						</ul>
  					</li>
      			
      			<li class="dropdown">
    				<a class="dropdown-toggle"
       					data-toggle="dropdown"
       					href="#">
        				Exercícios
        				<b class="caret"></b>
      				</a>
    					<ul class="dropdown-menu">
      						<li><%= link_to "Exercício 1" %></li>
      						<li><%= link_to "Exercício 2" %></li>
      						<li><%= link_to "Exercício 3" %></li>
      						<li><%= link_to "Exercício 4" %></li>
      						<li><%= link_to "Exercício 5" %></li>
      						<li><%= link_to "Exercício 6" %></li>
      						<li><%= link_to "Exercício 7" %></li>
      						<li><%= link_to "Exercício 8" %></li>
      							
    					</ul>
  					</li>
      			
      			<li><%= link_to "Feedback" %></li>
      			<li><%= link_to "Ajuda"%></li>
      			
      			<% if user_signed_in? %>
					<li><%= link_to current_user.email %></li>
					<li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
				<% else %>
			 		<li><%= link_to "Registrar", new_user_registration_path  %> </li> 
			 		<li><%= link_to "Entrar", new_user_session_path%></li>
				<% end %>
							
				
			</ul>
      	</div>
      
    </div>
  </div>
</div>	
	
	<div class="container" id="container">
		
		<h1><%= yield(:title) %></h1>
		
		<div class="row">
			<div class="span8">
			  <%= yield %>
			</div>
			
				
</div>
	</div>
</body>
</html>
